* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #23252C;
}

h1, h2, h3, p {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #23252C;
    justify-content: center;
    align-items: center;
}

.business-card {
    background: #1A1B21;
    height: 48rem;
    width: 21rem;
    border-radius: 20px;
    overflow: hidden;
}

.headshot {
    width: 100%;
    height: auto; 
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    opacity: 90%;
}

.personal-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    color: white;
    font-family: 'Inter';
    margin-bottom: 15px;
}

.personal-info-box h1 {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 2.2rem;
}

.personal-info-box h3 {
    font-weight: 450;
    margin-bottom: 9px;
    color: #62C6F2;
    font-size: 1.1rem;
}

.personal-info-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80%;
    border-radius: 6px;
    font-weight: 500px;
    font-size: 14px;
    cursor: pointer;
}

.personal-info-box button:hover {
    background-color: #cbced8;
}

.email-icon {
    width: 18px;
    margin-right: 10px;
}

.biography {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Inter';
    margin-top: 10px;
}

.biography h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

.biography p {
    font-size: 14px;
    text-align: center;
    margin: 0px 19px;
    padding-bottom: 10px;
}

.skills-container {
    display: flex;
    padding-top: 15px;
}

.skills-list {
    margin-top: 8px;
    padding: 10;
}

.languages {
    padding-right: 20px;
}